name : product-catalog-ci

on:
    pull_request:
        branches: [ main ]
jobs:
    build:
        runs-on: ubuntu-latest

        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: Setup Go 1.22
              uses: actions/setup-go@v2
              with:
                go-version: 1.22
            - name: Build
              run: |
               cd src/product-catalog
               go mod download
               go build -o product-catalog-service main.go
            - name: unit tests
              run: |
               cd src/product-catalog
               go test ./...

    code-quality:
        runs-on : ubuntu-latest

        steps:
            - name: checkout_code
              uses: actions/checkout@v4
            - name: Setup GO 1.22
              uses: actions/setup-go@v5
              with:
                go-version: "1.22"
                cache: true

            - name: Run golangci-lint
              uses: golangci/golangci-lint-action@v6
              with:
              
                working-directory: src/product-catalog
    
    docker:
        runs-on: ubuntu-latest
        needs: build

        steps:
            - name: checkout code
              uses: actions/checkout@v4
            - name: Install docker
              uses: docker/setup-buildx-action@v3
            - name: Login to DockerHub
              uses: docker/login-action@v2
              with:
                username: ${{ secrets.DOCKER_USERNAME }}
                password: ${{ secrets.DOCKER_TOKEN }}
            - name: Build and Push Docker image
              uses: docker/build-push-action@v3
              with:
                context: ./src/product-catalog
                file: ./src/product-catalog/Dockerfile
                push: true
                tags: ${{secrets.DOCKER_USERNAME}}/product-catalog:${{github.run_id}}

    update-k8s-deployment:
        runs-on: ubuntu-latest

        needs: docker

        permissions:
          contents: write

        concurrency:
          group: update-k8s-deployment
          cancel-in-progress: false

        steps:
            - name: checkout code
              uses: actions/checkout@v4
              with:
                fetch-depth: 0
                token: ${{ secrets.GIT_TOKEN}}
            - name: Update tag in Kubernetes deployment manifest
              run: |
                
                sed -i "s|image: .*|image: ${{ secrets.DOCKER_USERNAME }}/product-catalog:${{github.run_id}}|" kubernetes/productcatalog/deploy.yaml
            - name: commit and push changes
              run: |
                git config --global user.name "Nagaraju Devulapalli"
                git config --global user.email "nagarajudev9@gmail.com"

                git fetch origin main

                # stash any local changes created by the workflow
                git stash push -u -m "ci-stash"

                git rebase origin/main

                # bring changes back
                git stash pop || true

                git add kubernetes/productcatalog/deploy.yaml
                git commit -m "update product-catalog-${{ github.run_id }}-tag"
                git push origin HEAD:main 